$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;

$text-primary: #3f3f3f;
$text-paragraph: #222222;
$text-header: #838484;

$coffee-background: #eff1f1;
$header-background: #f7f9f9;
$footer-background: #33393f;

.coffee {
  width: 80%;
  margin: 0 auto;

  &__heading {
    text-transform: uppercase;
    margin-bottom: 2.4rem;

    font: {
      size: 40px;
      weight: 300;
    }
  }

  &__text {
    line-height: 2;
    font-size: 20px;
    margin-bottom: 2rem;
    font-weight: 300;
  }

  &__offer {
    display: block;
    font-size: 16px;
    margin-bottom: 2rem;
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 2rem;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
    }

    .coffee__item {
      width: 100%;
      background-color: $header-background;
      margin: 0 auto;

      @media (max-width: 1000px) {
        width: 70%;
      }

      .item__heading {
        width: 100%;
        border-bottom: 1px solid #ccc;
        font-size: 28px;
        padding: 1rem;
        background-color: $coffee-background;
      }

      img {
        width: 100%;
      }

      .item__bottom {
        width: 100%;
        padding: 1rem;
        background-color: $header-background;

        .item__taste {
          font-style: italic;
          margin-bottom: 1.5rem;
        }

        .item__text {
          line-height: 1.7;
        }
      }
    }
  }
}