$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;

$text-primary: #3f3f3f;
$text-paragraph: #222222;
$text-header: #838484;

$coffee-background: #eff1f1;
$header-background: #f7f9f9;
$footer-background: #33393f;

.story {
  width: 100%;

  .story__wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 3rem;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }
  }

  .story__content {
    width: 50%;
    text-align: justify;
    @media (max-width: 600px) {
      width: 80%;
      margin: 0 auto;
    }
  }

  .story__content-heading {
    text-transform: uppercase;
    margin-bottom: 2.4rem;

    font: {
      size: 40px;
      weight: 300;
    }
  }

  .story__content-text {
    line-height: 2;
    font-size: 20px;
    margin-bottom: 2rem;
    font-weight: 300;
  }

  .story__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 8px;

    @media (max-width: 950px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }

    .story__image-wrapper {
      width: 200px;
      height: 130px;
      overflow: hidden;

      @media (max-width: 600px) {
        width: 100%;
        height: 85%;
      }

      img {
        width: 100%;
        transition: all 0.5s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
