$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;

$text-primary: #3f3f3f;
$text-paragraph: #222222;
$text-header: #838484;
$text-footer: #ccc;
$footer-background: #33393f;

.footer {
  width: 100%;
  background-color: $footer-background;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  z-index: 0;

  
  @media (max-width: 480px){
    padding: 1rem;
  }

  @media (max-width: 350px){
    padding: 8px;
  }

  &__nav {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 3.8rem 0;

    @media (max-width: 480px){
      width: 85%;
      gap: 5px;
    }

    @media (max-width: 350px){
      width: 100%;
      // gap: 5px;
    }
  }

  &__nav-item {
    font-size: 1rem;
    color: $text-footer;
    text-decoration: none;
    border-bottom: 1px solid $footer-background;
    transition: all 0.4s ease;

    &:hover {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }


  &__social {
    text-align: center;
    color: $text-footer;
    margin-bottom: 2rem;

    span {
      display: block;
      font-weight: bold;
      margin-bottom:8px;
    }
  }

  &__social-link{
    // font-size: 1rem;
    color: $text-footer;
    text-decoration: none;
    border-bottom: 1px solid $text-footer;
    transition: all 0.4s ease;

    &:hover{
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }
  }
